.header__login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header_backgroud{
    position: absolute;
    width: 75%;
    height: 550px;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    background: url(../../../src/assets/images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header__title{
    width: 150px;
    font-size: 28px;
}
.header__quee{
    margin: 0 30px;
}
.login{
    flex: 4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_input{
    width: 300px;
    height: 50px;
    margin: 10px;
    outline-color: var(--outline-color);
    padding: 0 20px;
}
.login_btn{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: fuchsia;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.login_span{
    font-size: 12px;
    color: #ff0000;
    margin-top: 10px;
}