.newUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.newUserFlex{
    flex: 2;
}
.newUserTitle{
    margin: 50px auto;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.newUserUpload{
    display: flex;
    flex-direction: column;
}
.newUserUploadImg{
    width: 300px;
    height: 300px;
    border-radius:10px;
    object-fit: cover;
    margin-left: 20px;
}
.newUserRight{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.newUserFormInput{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.newUserTitleInput{
    display: flex;
    align-items: center;
    gap: 10px;
}
.newUserInput{
    width: 100%;
    outline: #fff;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #808080;
}

.newUserBtn{
    width: 200px;
    border: none;
    background-color: #1f37ed;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    &:disabled{
        display: none;
        cursor: not-allowed;
    }
}
.newUserBtn-back{
    width: 200px;
    border: none;
    background-color: #ed1f1f;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}