.widgetLg{
    flex:2;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    padding: 20px;
}
.widgetLg_title{
    font-size: 22px;
    font-weight: 600;
}

.widgetLg_table{
    width: 100%;
    border-spacing: 20px;
}
.widgetLg_th{
    text-align: left;
    padding: 20px;
    font-weight: 600;
}

.widgetLg_user{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLg_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLg_date,.widgetLg_amount{
font-weight: 300;
}
.widgetLg_btn{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetLg_btn.Approved{
    background-color: #e5faf2 ;
    color: #3bb077;
}
.widgetLg_btn.Declined{
    background-color: #fff0f1 ;
    color: #d95087;
}
.widgetLg_btn.Pending{
    background-color: #e5faf2 ;
    color: #2a7ade;
}