.topbar{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: sticky;
    top: 0px;
    z-index: 999;
    margin-bottom: 10px;
}
.topbarWrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: Roboto-Bold;
    font-size: 30px;
    color: darkblue;
}
/*right*/
.topRight{
    display: flex;
    align-items: center;
}
.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topIconBadge{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
