.productList{
    flex: 4;
}

.btn_action{
    margin-right: 10px;
    border: none;
}
.img_product{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.productListEdit{
    background-color: #3bb077;
    color: #fff;
}
.productListDelete{
    background-color: red;
    color:#fff
}