.newProduct{
    flex: 4;
}

.newProductForm{
    margin-top: 10px;
}
.newProductItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.newProductItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.newProductItem>input{
    padding: 10px;
}
.newProductGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newProductSelect{
    padding: 10px;
}
.newProductBtn{
    width: 200px;
    border: none;
    background-color: #1f37ed;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}