.userList{
    flex: 4;
    margin-left: 150px;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.userBtn-exit{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #090909;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}
.userListTitle{
    font-size:28px ;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.img_avatar{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.btn_action{
    margin-right: 10px;
    border: none;
}
.userListEdit{
    background-color: #3bb077;
    color: #fff;
}
.userListDelete{
    background-color: red;
    color:#fff
}