.product{
    flex: 4;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productTop{
    display: flex;  
}
.productTopLeft,.productTopRight{
    flex: 1;
}
.productTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    margin-left: 15px;
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
}
.productInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;

}

.productInfoValue{
    font-weight: 300;
    color: #292b2c7d;
}
.productBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: #808080;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #808080;
}

.productFormLeft>select{
    margin-bottom: 10px;
}

.productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUpload{
    display: flex;
    align-items: center;
}
.productBtn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #2020c2;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}