.user{
    flex:4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex:1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
}
.userUpdate{
    flex:2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUserName{
    font-weight: 700;
}
.userShowUserTitle{
    font-weight: 300;
    font-size: 15px;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
   font-size: 14px;
   font-weight: 700;
   color: rgb(219, 207, 207); 
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.userShowIcon{
    font-size: 16px !important;
}
.userShowInfoTitle{
    margin-left: 10px;   
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;  
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius:10px;
    object-fit: cover;
    margin-left: 20px;
}
.userUploadIcon{
    cursor: pointer;
}
.userUpdateBtn{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #123ff1;
    color: #fff;
    font-weight: 600;
}