.sideBar{
    width: 18%;
    height: calc(100vh - 50px);
    background-color: #f2f2f2;
    position: sticky;
    top: 50px;
}

.sidebar_wrapper{
    flex: 4;
    padding: 20px;
    color: #555;
}
.sidebar_menu{
    margin-bottom: 10px;
}
.sidebar_title{
    font-size: 13px;
    color: #bbbaba;
}
.sidebar_list{
    list-style: none;
    padding: 5px;
}
.sidebar_list-item{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebar_list-item.active,.sidebar_list-item:hover{
    background-color: #fff;
}
.sidebar-icon{
    margin-right: 5px;
    font-size: 20px !important;
}