.widgetSm{
    flex: 1;
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    padding: 20px;
    margin-right: 20px;
}

.widgetSm-title{
    font-style: 32px;
    font-weight: 600;
}
.widgetSm_img{
    font: 40px;
    width: 40px;
    height: 40px;
    border-radius: 75%;
    object-fit: cover;
    margin-right: 30px;
}
.widgetSm_list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.widgetSm_list-item{
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding-right: 40px;
}
.widgetSm_user{
    display: flex;
    flex-direction: column;
}
.widgetSm_user-name{
    font-weight: 600;
}
.widgetSm_user-title{
    font-weight: 300;
}
.widgetSm_btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #fff;
    color: #555;
    cursor: pointer;
}
.widgetSm_icon{
    font-size: 16px !important;
    margin-right: 5px;
}