:root {
    --primary-color: #ebcb80;
    --secondary-color: #4b4b4b;
    --third-color: #fff;
    --hr-color: #7d7d7d;
    --btn-color: #3c3c3c;
    --input-color: #999999;
    --boder-color: #e6e6e6;
    --places-color: #f3f3f3;
    --outline-color: #0ef0dd;
  }
  